<!doctype html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                            <!--form id="loginForm" method="post" action="#"-->
                                            <div class="form-group">
                                                <input type="email" name="logMail" class="form-style" placeholder="Your Email" id="logMail" autocomplete="off">
                                                <i class="input-icon fad fa-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="logPass" class="form-style" placeholder="Your Password" id="logPass" autocomplete="off">
                                                <i class="input-icon fad fa-lock-alt"></i>
                                            </div>
                                            <a href="javascript:void(0)" class="btn mt-4" id="LogbtnSubmit">submit</a>
                                            <!--/form-->
                                            <!--p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p-->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Sign Up</h4>
                                            <!--form id="regisForm" method="post"-->
                                            <div class="form-group">
                                                <input type="text" name="sigName" class="form-style" placeholder="Your Discord Username#1111" id="sigName" autocomplete="off">
                                                <i class="input-icon fad fa-user"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="email" name="sigEmail" class="form-style" placeholder="Your Email" id="sigEmail" autocomplete="off">
                                                <i class="input-icon fad fa-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="sigPass" class="form-style" placeholder="Your Password" id="sigPass" autocomplete="off">
                                                <i class="input-icon fad fa-lock-alt"></i>
                                            </div>
                                            <a href="javascript:void(0)" class="btn mt-4" id="SignbtnSubmit">submit</a>
                                            <!--/form-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

    $("#LogbtnSubmit").on('click', () => {
        SignIn();
    })

    $("#SignbtnSubmit").on('click', () => {
        SignUp();
    })

    function SignUp(){
        let uName   = $("#sigName").val().toString();
        let mail    = $("#sigEmail").val().toString();
        let pass    = $("#sigPass").val().toString();

        if (mail !== "" && pass !== "" && uName !== ""){
            $.ajax({
                url: '/api/signup',
                type: 'POST',
                cache: false,
                data : JSON.stringify({ username : uName, email : mail, password : pass }),
                contentType: "application/json; charset=utf-8",
                success : function( data ) {
                    iziToast.success({
                        position: 'topLeft',
                        title: 'Ok',
                        message: data.message,
                    });
                    $("#sigName").val('');$("#sigEmail").val('');$("#sigPass").val('');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    iziToast.error({
                        position: 'topLeft',
                        title: 'Error',
                        message: xhr.responseJSON.message,
                    });
                }
            });
        } else {
            iziToast.warning({
                position: 'topLeft',
                title: 'Warning',
                message: 'Please complete form before submitting',
            });
        }
    }

    function SignIn(){
        let mail = $("#logMail").val().toString();
        let pass = $("#logPass").val().toString();

        if (mail !== "" && pass !== "") {
            $.ajax({
                url: '/api/signin',
                type: 'POST',
                cache: false,
                data : JSON.stringify({ email : mail, password : pass }),
                contentType: "application/json; charset=utf-8",
                success : function( data ) {
                    iziToast.success({
                        position: 'topLeft',
                        title: 'OK',
                        message: 'Login Success!\nWelcome back ' + data.data,
                        timeout: 1500,
                        pauseOnHover: false,
                        resetOnHover: false,
                        onClosing: function(){
                            document.location.href = '/users' // redirect to /users (workaround)
                        }
                    });
                    $("#logMail").val('');$("#logPass").val('');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    iziToast.error({
                        position: 'topLeft',
                        title: 'Error ' + xhr.status,
                        message: xhr.responseJSON.message,
                    });
                }
            });
        } else {
            iziToast.warning({
                position: 'topLeft',
                title: 'Warning',
                message: 'Please complete form before submitting',
            });
        }
    }
</script>
</html>